body {
  font-family: "Poppins", sans-serif;
}
.heading {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

#next-logo,
#icons {
  background: rgb(43, 18, 76);
  background: linear-gradient(
    131deg,
    rgba(43, 18, 76, 1) 0%,
    rgba(170, 73, 193, 1) 83%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#search-icon {
  background: rgb(43, 18, 76);
  background: linear-gradient(
    131deg,
    rgba(43, 18, 76, 1) 0%,
    rgba(170, 73, 193, 1) 83%
  );
  color: white;
}
.search-bar .form-control,
.search-bar .form-select {
  border-radius: 50px 0 0 50px;
}

.search-bar .btn {
  border-radius: 0 25px 25px 0;
}

.carousel-container {
  max-width: 800px;
  margin: auto;
  padding: 40px 0;
}
.job-card {
  background: #f8f9faf8;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  min-height: 220px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.job-title {
  font-size: 20px;
  font-weight: bold;
  color: #343a40;
}
#danger:hover {
  background-color: rgba(255, 0, 0, 0.422);
}
.company-name {
  font-size: 16px;
  color: #6c757d;
  margin-bottom: 5px;
}
.job-details {
  font-size: 14px;
  color: #495057;
}
.apply-btn {
  background: rgb(43, 18, 76);
  background: linear-gradient(
    131deg,
    rgba(43, 18, 76, 1) 0%,
    rgba(170, 73, 193, 1) 83%
  );
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
}
.apply-btn:hover {
  background-color: #0056b3;
}
.carousel-control-prev,
.carousel-control-next {
  width: 40px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  color: white;
}
.carousel-item {
  transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
}
body {
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/3183183/pexels-photo-3183183.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.job-box {
  background: #fffffffa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.job-box h5 {
  background: rgb(43, 18, 76);
  background: linear-gradient(
    131deg,
    rgba(43, 18, 76, 1) 0%,
    rgba(170, 73, 193, 1) 83%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.job-box p {
  margin: 0;
}

.job-box:hover {
  box-shadow: 0 12px 12px 12px rgba(0, 0, 0, 0.2);
  background: rgba(184, 180, 180, 0.409);

  color: black;
}

.job-box:hover p {
  color: #fff;
}
.testimonial-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.596);
  border-radius: 50%;
}
#alert-message {
  position: absolute;
  background-color: #ffdddd;
  left: 45%;
  color: rgb(234, 60, 60);
  padding: 5px 10px;
  border: 1px solid red;
  border-radius: 5px;
  font-size: 10px;
  margin-top: 5px;
  display: none;
  align-items: center;
}
