body {

    height: 100vh;
    display: flex;
    align-items: center;
}

.container-fluid {
    height: 100%;
}

#logo,#tac
{
    background: rgb(43,18,76);
    background: linear-gradient(
        131deg, rgba(43,18,76,1)0%,
        rgba(170,73,193,1)83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    width: 80%;
    max-width: 400px;
    text-align: center;
}


.btn-light {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid #ddd;
}

.right-section {
    background: rgb(43,18,76);
    background: linear-gradient(
        131deg, rgba(43,18,76,1)0%,
        rgba(170,73,193,1)83%);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#Signup
{
    background: rgb(43,18,76);
    background: linear-gradient(
        131deg, rgba(43,18,76,1)0%,
        rgba(170,73,193,1)83%);
    color: #ffffff;   
}
#right-prof
{
    background: rgb(43,18,76);
    background: linear-gradient(
        131deg, rgba(43,18,76,1)0%,
        rgba(170,73,193,1)83%);
}
.info-box {
    text-align: center;
    max-width: 400px;
}

.d-grid img
{
height: 20px;
}
.info{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}
